@import '@styles/abstacts/variables';
@import '@styles/abstacts/mixins';

@include media(xs, mn) {
	.section {
		padding: 5.75rem 0;
		background-color: $bg-light-green;
	}

	.review {
		display: grid;
		grid-auto-flow: row;
		row-gap: 1.125rem;
		text-align: center;
		grid-template-rows: 152px minmax(42px, max-content) max-content;
	}

	.img {
		display: grid;
		align-items: center;
		width: 9.5rem;
		max-height: auto;
		margin: 0 auto;
		border-radius: 50%;
		background-color: $bg-dark-green;
		line-height: 152px;
		color: $color-white;
	}

	.desc {
		color: $text-green;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
}

@include media(md, mn) {
	.section {
		padding: 6.375rem 0;
	}

	.review {
		row-gap: 1.625rem;
	}
}

