@import '@styles/abstacts/variables';
@import '@styles/abstacts/mixins';

@include media(xs, mn) {
	.section {
		padding: 5rem 0;
		overflow: hidden;
	}

	.contentWrapper {
		display: grid;
		grid-auto-flow: row;
		row-gap: 2.75rem;
	}

	.headline {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 1rem;
		justify-content: center;
		text-align: center;
		align-content: start;

		.headlineImg {
			margin: 0 auto;
			max-width: 100px;
			height: auto;
		}

		.headlineDesc {
			margin: 0 auto;
			max-width: 300px;
		}
	}

	.desc {
		color: $text-green;
	}

	.button {
		margin: 0 auto;
	}

	.list {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;
		row-gap: 3rem;
	}

	.imgWrapper {
		position: relative;
		height: 11.625rem;
		overflow: hidden;
		background: $bg-dark-green;

		img {
			position: absolute;
			text-align: center;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		span {
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 3rem;
			height: 3rem;
			border-radius: 1.5rem;
			display: grid;
			align-items: center;
			justify-content: center;
			background: $color-red;
			color: $text-white;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: capitalize;
		}
	}

	.card {
		display: grid;
		grid-auto-flow: row;
		row-gap: 0.625rem;
		text-align: center;

		.button {
			margin: 0 auto;
			&:hover {
				i svg path {
					fill: $text-green;
				}
			}
		}

		.price {
			display: grid;
			grid-auto-flow: column;
			column-gap: 0.5rem;
			justify-content: center;

			span {
				font-size: 1rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: $color-green-6;
			}

			.priceSale {
				color: $color-red;
			}
		}
	}

	.cardTitle {
		@include h4;
	}
}

@include media(md, mn) {
	.section {
		padding: 6rem 0;
	}

	.contentWrapper {
		row-gap: 5rem;
	}

	.headline {
		margin-bottom: 5rem;

		.headlineDesc {
			max-width: 800px;
		}
	}

	.list {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 1.5rem;
	}

	.card {
		row-gap: 1rem;
	}

	.imgWrapper {
		height: 23.75rem;
	}
}

