@import '@styles/abstacts/variables';
@import '@styles/abstacts/mixins';

@include media(xs, mn) {
	.header {
		border-bottom: 1px solid #e7e6e3;
	}

	.infoBar {
		display: flex;
		flex-direction: row;
		gap: 1rem 2rem;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		min-height: 35px;
		padding: 1rem 0;
		background-color: $bg-light-green;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: $text-green;
	}

	.bold {
		font-weight: 600;
	}
}

@include media(md, mn) {
	.infoBar {
		font-size: 16px;
	}
}

